@import url(reset.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  height: 100%; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

html {
  font-size: 10px;
  text-rendering: optimizelegibility; }

body, input {
  font-family: Georgia, Times, "Times New Roman", serif; }

body {
  background-color: #fff;
  color: #000;
  font-size: 2.2rem;
  min-width: 320px;
  width: 100%; }

body #wrapper {
  min-height: 100%;
  position: relative;
  margin: 0;
  font-size: 2.2rem; }

a {
  color: #1575a1;
  text-decoration: underline; }

a:visited, a.visited {
  color: #a60003; }

a[href*="itunes.apple."]:after {
  content: " (iTunes)"; }

sup, sub {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin: 0 0.3rem; }

sup {
  top: -1rem; }

sub {
  bottom: -0.5rem; }

em {
  font-style: oblique; }

strong {
  font-weight: bold; }

body header {
  text-align: center;
  padding-top: 3rem; }

#wrapper > header h1 {
  border-bottom: 0.6rem solid #1b99d3; }

nav {
  padding-top: 1rem; }

nav a, .meta a, h1 a, .copyright a, nav a:visited, .meta a:visited, h1 a:visited, .copyright a:visited {
  color: #000;
  text-decoration: none; }

nav a:hover, .meta a:hover, h1 a:hover {
  color: #1575a1; }

nav a:visited:hover, .meta a:visited:hover, h1 a:visited:hover {
  color: #a60003; }

nav form, nav fieldset {
  margin: 0;
  padding: 0;
  display: inline; }

nav ul {
  text-align: center;
  margin-top: 0; }

nav ul li, nav ul input {
  display: inline-block;
  font-size: 2.3rem; }

nav ul li + li {
  margin-left: 1.7rem; }

nav input {
  border: none;
  width: 7.1rem;
  height: 2.6rem;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0;
  background-color: transparent; }

input.archive {
  width: 100%;
  font-size: 3rem;
  border: 2px solid #1b99d3;
  padding: 0.5rem; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #000; }

input.archive::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999; }

:focus::-webkit-input-placeholder {
  color: #999 !important; }

:hover::-webkit-input-placeholder {
  color: #1575a1; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000;
  opacity: 1; }

input.archive:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  opacity: 1; }

:focus:-moz-placeholder {
  color: #999 !important; }

:hover:-moz-placeholder {
  color: #1575a1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000;
  opacity: 1; }

input.archive::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  opacity: 1; }

:focus::-moz-placeholder {
  color: #999 !important; }

:hover::-moz-placeholder {
  color: #1575a1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #000; }

input.archive:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999; }

:focus:-ms-input-placeholder {
  color: #999 !important; }

:hover:-ms-input-placeholder {
  color: #1575a1; }

form#membership_form_id {
  width: 47rem;
  margin: 6rem auto;
  text-align: center;
  padding: 1rem 5rem 3rem 5rem;
  border: 1px solid #1b99d3; }

form#membership_form_id fieldset {
  text-align: left; }

form#membership_form_id input {
  font-size: 2.2rem; }

form#membership_form_id .field-row {
  display: block;
  margin: 3rem auto; }

#custom_price {
  width: 6rem;
  border: 3px solid #1b99d3;
  padding: 0.2rem 0.4rem;
  margin-left: 0.3rem; }

#newsletter_check {
  margin: 4rem auto 3rem auto; }

#submit_container {
  text-align: center; }

#submit_button {
  border: 3px solid #1b99d3;
  border-radius: 1rem;
  background-color: #fff;
  padding: 0.5rem 1.5rem;
  font-weight: bold; }

#submit_button:active {
  color: #a60003;
  background-color: #f8f8f8;
  border-color: #a60003; }

.membership-plan {
  font-weight: bold;
  margin-right: 1rem;
  display: inline-block;
  width: 13.5rem; }

.membership-plan:after {
  content: ""; }

.regular-plan, .plus-plan, .custom-plan {
  font-weight: bold; }

.regular-plan {
  color: #2F7AFF; }

.plus-plan {
  color: #F12E5B; }

.custom-plan {
  color: #1A8D34; }

.membership-price, #custom_price {
  color: #1575a1;
  font-weight: bold; }

.multipage.paging {
  max-width: 75rem;
  margin: 7rem auto;
  text-align: center; }

.multipage.paging ul {
  display: inline;
  background-color: transparent;
  padding: 1rem;
  border: 0.2rem solid #1b99d3;
  line-height: 4.5rem;
  white-space: nowrap;
  border-radius: 1.0rem;
  box-decoration-break: clone; }

.multipage.paging ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0.5rem 1rem;
  padding: 0; }

.multipage.paging ul li.paging-collated {
  margin-left: 3rem; }

.multipage.paging a {
  text-decoration: none; }

.multipage.paging ul li a:hover {
  background-color: white; }

.multipage.pagebreak hr {
  border: 2px solid #1b99d3;
  height: 1px;
  margin: 10rem auto; }

#content article .entry-content p.next_page_link {
  font-weight: bold;
  margin-top: 8rem !important;
  zpadding: 0.1rem 1.2rem;
  zborder: 0.3rem solid #1b99d3;
  zborder-radius: 1rem; }

div.highlight {
  overflow: scroll; }

body header h1 {
  font-size: 2.2rem;
  font-weight: normal;
  letter-spacing: 0.01rem;
  margin: 0; }

#book-banner {
  text-align: center;
  padding: 1.5rem 0.5rem;
  background-color: #1b99d3;
  font-size: 2.2rem;
  margin-top: 4rem; }

#book-banner2 {
  text-align: center;
  padding: 1.5rem 0.5rem;
  background-color: #1b99d3;
  font-size: 2.2rem;
  margin-top: 4rem; }

#book-banner, #book-banner a, #book-banner a:link, #book-banner a:visited, #book-banner a:active, #book-banner a:hover {
  color: #fff; }

#book-banner img {
  border: 1px solid #fff; }

#book-banner2, #book-banner2 a, #book-banner2 a:link, #book-banner2 a:visited, #book-banner2 a:active, #book-banner2 a:hover {
  color: #fff; }

#book-banner2 img {
  border: 1px solid #fff; }

.book-blurb {
  display: inline-block;
  width: 100%;
  max-width: 40rem;
  vertical-align: top; }

.profile-info-text {
  display: inline-block;
  width: 100%;
  max-width: 40rem;
  line-height: 1.5em;
  font-size: 16px;
  }

.book-blurb p {
  text-align: left;
  margin: 0; }

.profile-info-text {
  text-align: left;
  margin: 0; }

.book-blurb p + p {
  margin-top: 1.8rem; }

.profile-info-text p + p {
margin-top: 1.8rem; }

.synopsis {
  font-size: 2.2rem; }

p.centered {
  text-align: center; }

#book-banner img {
  margin: 0 2rem 0 0; }

#book-banner2 img {
  margin: 0 2rem 0 0; }
#content {
  padding-bottom: 1rem; }

article {
  margin-top: 1rem; }

#book-banner ~ #content article {
  margin-top: 5rem; }

#book-banner2 ~ #content article {
  margin-top: 5rem; }
article header {
  margin-top: 0rem; 
  }

article header .meta {
  margin: 4rem 0; }

article.archive header .meta {
  margin: 1rem 0; }

header .meta, header .meta a, header .meta a:hover {
  font-size: 1.9rem;
  color: #666; }

.reading-time-container:before, .post-categories:before {
  content: "\00a0\2022\00a0";
  color: inherit; }

.reading-word-count {
  display: none; }

.reading-time {
  position: relative;
  cursor: help; }

.reading-time:hover .reading-word-count {
  position: absolute;
  top: -0.3rem;
  left: 100%;
  display: inline;
  width: auto;
  height: auto;
  text-align: center;
  color: #000;
  padding: 0.4rem 0.6rem;
  margin: 0 0 0 0.7rem;
  background-color: #eee;
  border-radius: 0.4rem;
  white-space: nowrap; }

article header h1 {
  font-size: 4rem;
  letter-spacing: -0.1rem;
  margin: 0 auto;
  width: 85rem;
  max-width: 95%; }

article header h1.sponsor a {
  color: #555 !important;
  font-size: 3.5rem; }

article header h2 {
  margin-top: 3rem;
  font-style: italic; }

p, ul, ol, blockquote, img {
  margin: 3rem 0; }

article footer, .entry-content > *, #footer-wrapper, article.index .excerpt-link, .prev-next-post-links.index {
  width: 75rem;
  margin: 3rem auto;
  line-height: 3.2rem; 
  letter-spacing: 0.018em;
  }

#footer-wrapper {
  margin: 0 auto; }

#footer-wrapper > * {
  margin-top: 2rem; }

.entry-content > h1, .entry-content > h2, .entry-content > h3, .entry-content > h4, .entry-content > h5, .entry-content > h6 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  margin: 6rem auto 3rem auto; }

.entry-content > h2 {
  font-size: 3rem;
  margin-top: 8rem; }

.entry-content > hr {
  border: 0;
  height: 1px;
  background: #999;
  margin: 5rem auto; }

body #wrapper {
  margin: 0 !important;
  font-size: 2rem;
  letter-spacing: 0.02em;
}

p.full-width, p.full-width-centered {
  width: 100%;
  text-align: center; }

p.full-width-centered {
  background-color: #333;
  padding: 0.1rem 0;
  margin-top: 6rem; }

img.full-width {
  display: block;
  width: 100%;
  max-width: 1600px;
  margin: 6rem auto;
  height: auto; }

img.full-width-centered {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

.full-width + .caption, .full-width-centered + .caption {
  text-align: center;
  font-style: italic;
  margin-top: -2.5rem;
  margin-bottom: 6rem; }

.caption + .full-width-centered {
  margin-top: 10rem; }

.heading-banner, .cover-banner {
  width: 100%;
  height: 230px;
  overflow: hidden;
  position: absolute;
  top: 16.3rem;
  margin: 0 auto;
  z-index: -100;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover; }

.cover-banner {
  z-index: 0;
  position: relative;
  padding: 0;
  top: -22.0rem;
  height: 100vh;
  /* vh means hundredths of viewport height */
  max-height: 1067px;
  overflow: visible; }

.cover-banner > h1 {
  font-size: 9rem;
  position: relative;
  top: calc(50% - (9rem / 2));
  margin: 0;
  padding: 1rem 0;
  width: 100%;
  max-width: 100%; }

.cover-banner h2 {
  font-size: 4rem;
  font-style: italic;
  position: relative;
  top: calc(100% - (11rem + 6rem + 1rem));
  margin: 0;
  padding: 1rem 0;
  width: 100%;
  max-width: 100%; }

.cover-banner > .meta {
  position: relative;
  margin: 0;
  top: calc(100% - 11rem + 2.1rem); }

.cover-banner > h2 + .meta {
  top: calc(100% - 11rem - 6rem + 2.1rem); }

.cover-banner + .entry-content {
  margin-top: -17rem; }

.entry-content > .screenshot img {
  width: auto;
  height: auto;
  margin: 0;
  position: static;
  border: 1px solid #999; }

.entry-content > .screenshot {
  text-align: center;
  margin: 5rem auto; }

.entry-content > .screenshot p.caption {
  font-size: 2.2rem;
  color: #333;
  border: 1px solid #ddd;
  text-align: center;
  background-color: #fafafa;
  padding: 0.5rem 0.8rem;
  margin: 1rem;
  -moz-border-radius: 0.3rem;
  -khtml-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem; }

.mono, pre, code, tt, p code, li code {
  font-family: Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace;
  display: inline-block;
  white-space: no-wrap;
  font-size: 2rem;
  color: #333;
  background: #eeeeee;
  border: none;
  padding: 0 0.5rem; }

.entry-content > blockquote {
  padding: 1rem 2rem 0.5rem 1rem;
  font-size: 2.6rem;
  font-style: oblique;
  background-color: #f5f5f5;
  margin: 5rem auto; }

blockquote:before, blockquote:after {
  font-style: normal;
  content: "\201C";
  display: block;
  font-size: 7rem;
  color: #aaa;
  padding: 0;
  line-height: 0rem;
  background-color: inherit;
  width: 100%;
  margin: 3.2rem 0 0 0.5rem; }

blockquote:after {
  content: "\201D";
  text-align: right;
  margin: 0;
  margin-top: 3rem; }

blockquote p {
  margin: 0 4rem; }

blockquote p + p {
  margin-top: 2.5rem; }

blockquote em {
  font-weight: bold; }

blockquote.example {
  font-style: inherit;
  text-decoration: none;
  background-color: #f5f5f5;
  padding: 20px 25px !important;
  border: 2px solid #999;
  white-space: pre-wrap; }

blockquote.example:before, blockquote.example:after {
  content: ""; }

blockquote.example em {
  font-weight: normal; }

blockquote.example.flawed {
  border-color: #a60003; }

blockquote.example.flawed:after {
  content: "\2718";
  font-size: 5rem;
  color: rgba(166, 0, 3, 0.7);
  padding-bottom: 1.5rem; }

blockquote.example.fixed {
  border-color: #1b99d3; }

blockquote.example.fixed:after {
  content: "\2714";
  color: rgba(27, 153, 211, 0.7);
  padding-bottom: 1.5rem; }

span.platform {
  font-weight: 500;
  font-family: "Helvetica Neue", sans-serif;
  border: 0.3rem solid transparent;
  padding: 0 0.5rem;
  border-radius: 1rem;
  background-color: transparent;
  white-space: nowrap; }

span.ios {
  color: #0080FF;
  border-color: #0080FF; }

span.windows-phone {
  color: #55AC02;
  border-color: #55AC02;
  border-radius: 0; }

span.android {
  color: #BF1911;
  border-color: #BF1911;
  border-radius: 1rem 0 1rem 0; }

.entry-content > ul, .entry-content > ol {
  margin: 4rem auto; }

article ul li, article ol li {
  margin: 2rem 0 2rem 2.9rem; }

article ul li {
  list-style-type: disc; }

article ol li {
  list-style-type: decimal; }

article footer {
  margin: 15rem auto;
  border-top: 0.6rem solid #1b99d3; }

blockquote > footer {
  margin: 2rem 4rem 0 4rem;
  border: none; }

article.index + article {
  margin-top: 5rem; }

article.index + article header h1 {
  padding-top: 10rem;
  border-top: 0.3rem solid #1b99d3; }

article.archive header {
  margin: 2rem auto;
  text-align: left; }

article.archive header h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  margin: 0 0 1rem 0;
  text-align: left;
  max-width: 100%; }

article.archive header h1 {
  padding-top: 5rem;
  border-top: 0.3rem solid #1b99d3; }

article.archive header time {
  font-size: 2rem;
  color: #737373; }

article.archive .entry-content {
  color: #000; }

article header time a {
  color: inherit !important; }

article header time a:hover {
  text-decoration: underline; }

.prev-next-post-links.index {
  margin: 9rem auto 11rem auto; }

article.page {
  margin-bottom: 20rem; }

.sharing {
  margin: 1rem 0;
  text-align: center; }

.sharing-button, .sharing-button:visited {
  display: inline-block;
  text-align: center;
  width: 18.3rem;
  min-width: 10rem;
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem; }

.sharing-button.twitter {
  background-color: #00aced; }

.sharing-button.twitter:hover {
  background-color: #009bd4; }

.sharing-button.facebook {
  background-color: #3B5998; }

.sharing-button.facebook:hover {
  background-color: #223683; }

.sharing-button.googleplus {
  background-color: #d34836; }

.sharing-button.googleplus:hover {
  background-color: #bd0000; }

.sharing-button.email {
  background-color: #777; }

.sharing-button.email:hover {
  background-color: #666; }

footer .sponsor, footer .patronage, div.footnotes {
  text-align: center;
  font-style: oblique;
  margin: 5rem 0 5rem 0;
  padding: 0.5rem;
  background-color: #eee; }

div.footnotes {
  text-align: left;
  margin: 10rem auto; }

footer .patronage {
  margin: 5rem 0 10rem 0; }

footer .patronage + .sponsor {
  margin-top: -9rem; }

.prev-next-post-links {
  height: 5rem;
  text-align: center; }

.prev-post {
  float: left; }

.next-post {
  float: right; }

.post-categories {
  display: inline; }

.category-link {
  text-decoration: none;
  color: inherit !important; }

.category-link:hover {
  text-decoration: underline; }

.flag {
  color: #dd0000 !important; }

p.flag:before {
  content: "\26a0\00a0"; }

.category-link.flag {
  border: 0.2rem solid #dd0000;
  border-radius: 2.2rem;
  padding: 0.1rem 0.6rem; }

#wrapper > footer {
  border-top: 0.6rem solid #1b99d3;
  margin-top: 25rem;
  width: 100%;
  height: 8.3rem;
  position: absolute;
  bottom: 0;
  left: 0; }

#wrapper > footer .copyright {
  float: left; }

.copyright a {
  text-decoration: none; }

#wrapper > footer ul {
  float: right; }

#wrapper > footer ul li {
  display: inline-block; }

#wrapper > footer ul li + li {
  margin-left: 1rem; }

.note-popover {
  cursor: help;
  color: #000;
  text-decoration: none;
  border-bottom: 2px dashed #e1b509; }

.note-popover:hover, .note-popover:active {
  background-color: #fcf4dd; }

.note-popover:hover:after, .note-popover:active:after {
  border-radius: 0.8rem;
  border: 2px solid #e1b509;
  background-color: #fcf4dd;
  content: attr(data-note);
  padding: 0.4rem 1rem;
  margin: 0.6rem auto;
  white-space: pre-line;
  position: relative;
  display: block;
  width: auto; }

.keyboard-shortcut {
  color: #2076c8;
  font-size: 100%;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  border-radius: 0.4em;
  border: 1px solid #999;
  background-color: #f9f9f9;
  display: inline-block;
  padding: 0px 5px;
  margin: 0 3px; }

a.download {
  display: inline-block;
  border-radius: 0.4em;
  border: 2px solid #1575a1;
  background-color: #f9f9f9;
  padding: 25px 10px 25px 65px; }
  a.download:visited {
    border-color: #a60003; }
  a.download:active {
    border-color: #1575a1; }
  a.download:before {
    content: ""; }
  a.download.zip, a.download.pdf {
    background-image: url("/images/zip.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 64px 64px; }
    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      a.download.zip, a.download.pdf {
        background-image: url("/images/zip@2x.png"); } }
  a.download.pdf {
    background-image: url("/images/pdf.png"); }
    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      a.download.pdf {
        background-image: url("/images/pdf@2x.png"); } }

#fusion_ads_container {
  display: block;
  width: 200px;
  position: absolute;
  top: 330px;
  right: 0px;
  text-align: center;
  margin: 0; }

.fusionentire, .fusion_attrib_footer {
  display: block;
  width: 200px;
  padding: 0;
  margin: 0 auto; }

.fusionentire {
  margin: 0 auto 0 auto; }

.fusionentire, .fusion_attrib_footer, .fusiontext {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center; }

.fusiontext {
  margin: 0; }

.fusiontext, .fusion_attrib_footer {
  font-family: Helvetica, Verdana, sans-serif; }

.fusiontext, .fusiontext a {
  color: #000; }

.fusionimg {
  text-align: center;
  border: 0;
  margin: 0 auto 1rem auto;
  display: inline; }

.fusionimg a {
  border: 0; }

.fusion_attrib_footer {
  margin: 1rem auto 0 auto;
  font-size: 1.1rem;
  border: none; }

.bsap {
  display: none; }

.fusion_attrib_footer a {
  color: #999; }

.fusionentire a, .fusion_attrib_footer a {
  text-decoration: none;
  border: none; }

.mobile-nav {
  display: none; }

.multipage-paging-mobile {
  display: block;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.multipage-paging-mobile select {
  width: 95%;
  font-size: 2rem;
  -webkit-appearance: button;
  -webkit-padding-start: 2px;
  -webkit-padding-end: 20px;
  -webkit-user-select: none;
  border-radius: 1rem;
  border: 0.3rem solid #1b99d3;
  background-color: #fff;
  color: #1575a1;
  margin: 0px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.multipage-paging-mobile {
  display: block;
  width: 100%; }

.multipage-paging-mobile select {
  display: inline;
  width: 80%;
  margin: auto 0.3rem; }

.multipage ul.multipage-paging-links {
  display: none; }

@media only screen and (max-width: 1060px) {
  #fusion_ads_container {
    position: relative;
    display: inline-block;
    width: 200px;
    top: 0;
    left: calc(50% - 100px);
    margin: 2rem auto; } }
@media only screen and (max-width: 790px) {
  #fusion_ads_container {
    display: none; } }
@media only screen and (max-width: 785px) {
  article footer, .entry-content > *, #footer-wrapper, article.index .excerpt-link, .prev-next-post-links.index, article header h1 {
    width: 95%; }

  #wrapper > header h1 {
    font-size: 6.2rem; }

  body header {
    padding-top: 1rem; }

  nav ul li, nav ul input {
    font-size: 2rem; }

  nav ul li + li {
    margin-left: 1rem; }

  article {
    margin-top: 6rem; }

  article header {
    margin-bottom: 6rem; }

  .sharing-button {
    width: 49%;
    min-width: 20rem; }

  .prev-post, .next-post {
    float: none;
    display: block;
    margin-top: 3rem; }

  #wrapper footer {
    text-align: center; }

  #wrapper footer .copyright, #wrapper footer ul.meta {
    float: none; }

  #wrapper footer ul.meta {
    padding-bottom: 2rem; }

  .prev-next-post-links {
    height: 10rem; }

  .heading-banner {
    top: 130px;
    height: 120px;
    background-size: cover; } }
@media only screen and (max-width: 430px) {
  nav ul li, nav ul input {
    font-size: 1.7rem; } }
/* iPads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  img {
    max-width: 100%; }

  article footer, .entry-content > *, #footer-wrapper, article.index .excerpt-link, .prev-next-post-links.index, article header h1 {
    width: 90%; }

  #wrapper > header h1 {
    font-size: 6.2rem; }

  body header {
    padding-top: 1rem; }

  nav ul li, nav ul input {
    font-size: 2rem; }

  nav ul li + li {
    margin-left: 1rem; }

  article {
    margin-top: 6rem; }

  article header {
    margin-bottom: 6rem; }

  article .entry-content > * {
    font-size: 2.0rem;
    line-height: 3rem;
    margin: 4rem auto; }

  article ul li, article ol li {
    margin-left: 4rem; }

  .entry-content h2 {
    font-size: 4rem;
    margin-top: 6rem; }

  .entry-content h3, .entry-content h4 {
    font-size: 3rem; }

  .sharing-button {
    width: 24%;
    min-width: 20rem;
    font-size: 2.6rem;
    line-height: 4rem; }

  .prev-post, .next-post {
    float: none;
    display: block;
    margin-top: 4rem; }

  #wrapper footer {
    text-align: center; }

  #wrapper footer .copyright, #wrapper footer ul.meta {
    float: none;
    font-size: 2rem; }

  #wrapper footer ul.meta {
    padding-bottom: 2rem; }

  .prev-next-post-links {
    height: 10rem; }

  footer .sponsor, footer .patronage {
    font-size: 2.5rem;
    line-height: 3.5rem; }

  #fusion_ads_container {
    display: none; }

  .heading-banner {
    top: 130px;
    height: 120px;
    background-size: cover; }

  .cover-banner {
    max-height: 100vh;
    top: -173px; }

  .cover-banner + .entry-content {
    margin-top: -11rem; }

  form#membership_form_id {
    font-size: 2.2rem; } }
/* iPhones */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px), only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html {
    font-size: 4px; }

  img {
    max-width: 100%; }

  #book-banner, .synopsis {
    font-size: 3.5rem; }

#book-banner2 ~ #content article {
  margin-top: 5rem; }

  #book-banner img {
    max-height: 100px; }
  
#book-banner2 img {
    max-height: 100px; }
  
  .book-blurb {
    width: 90%; }

  .profile-info-text {
    width: 90%; }

  article.archive header h1 {
    font-size: 5.5rem;
    line-height: 5.5rem; }

  article.archive header time {
    font-size: 3rem; }

  article.archive .entry-content {
    font-size: 4rem; }

  article footer, .entry-content > *, #footer-wrapper, article.index .excerpt-link, .prev-next-post-links.index, article header h1 {
    width: 90%; }

  #wrapper > header h1 {
    font-size: 6rem;
    line-height: 7rem; }

  .mobile-nav, .multipage-paging-mobile {
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem; }

  .mobile-nav select, .multipage-paging-mobile select {
    width: 95%;
    font-size: 4rem;
    -webkit-appearance: button;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 20px;
    -webkit-user-select: none;
    border-radius: 3px;
    border: 1px solid #1b99d3;
    background-color: #fff;
    color: #1575a1;
    margin: 0px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap; }

  .multipage-paging-mobile {
    display: block;
    width: 100%; }

  .multipage-paging-mobile select {
    display: inline;
    width: 80%;
    margin: auto 0.3rem; }

  .main-navigation, .multipage ul.multipage-paging-links {
    display: none; }

  article header h1 {
    font-size: 4rem; }

  article {
    margin-top: 6rem; }

  article header {
    margin-bottom: 6rem; }

  article .entry-content > * {
    line-height: 6.5rem;
    margin: 7rem auto; }

  article .entry-content > div iframe {
    margin: 3rem auto;
    max-width: 100%; }

  article header .meta {
    margin-top: 2.5rem; }

  article header .meta > *, article header .meta .reading-time, article header .meta .post-categories a, article header .meta time a {
    font-size: 3rem; }

  body #wrapper, .entry-content blockquote {
    font-size: 5rem; }

  .entry-content code {
    font-size: 4rem; }

  .entry-content h2 {
    font-size: 6rem;
    margin-top: 10rem; }

  .entry-content h3, .entry-content h4 {
    font-size: 5rem; }

  article ul li, article ol li {
    margin: 7rem 0 7rem 6rem; }

  .note-popover {
    border-bottom: 3px dashed #e1b509; }

  .sharing-button {
    width: 49%;
    min-width: 30rem;
    font-size: 5rem;
    line-height: 7rem; }

  .prev-next-post-links {
    height: 13rem;
    text-align: center; }

  .prev-post, .next-post {
    margin-top: 5rem;
    float: none;
    display: block; }

  footer .sponsor, footer .patronage {
    font-size: 4rem;
    line-height: 6rem; }

  #wrapper footer {
    text-align: center; }

  #wrapper footer ul.meta {
    padding-bottom: 5rem; }

  #wrapper footer .copyright, #wrapper footer ul.meta {
    font-size: 4rem;
    float: none;
    display: block; }

  #fusion_ads_container {
    display: none; }

  .heading-banner {
    top: 83px;
    height: 60px; }

  .category-link.flag {
    border-width: 0.25rem;
    border-radius: 3.5rem;
    padding: 0.1rem 1rem; }

  .cover-banner {
    max-height: 100vh;
    top: -109px; }

  form#membership_form_id {
    font-size: 3.5rem;
    width: 67rem; }

  form#membership_form_id input {
    font-size: 4rem; }

  form#membership_form_id .field-row {
    margin: 5rem auto; }

  #custom_price {
    width: 8rem; }

  .membership-plan {
    width: 20rem; }

  span.platform {
    border-width: 0.6rem;
    font-size: 4rem; }

  span.ios {
    border-radius: 2rem; }

  span.android {
    border-radius: 2rem 0 2rem 0; } }
/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
