<ul class="main-navigation">
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="http://poems.kanasuru.com/" target="_blank">Poems</a></li>
  <li><a href="{{ root_url }}/blog/about">About</a></li>
</ul>
<fieldset class="mobile-nav">
  <select onchange="if (this.value) window.location.href=this.value">
    <option value="">☰&nbsp;&nbsp;Go to…</option>
    <option value="blog/about">About</option>
    <option value="http://poems.kanasuru.com/">Poems</option>  
    <option value="blog/archives">Archives</option>  
  </select>
</fieldset>