---
layout: default
---
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article role="article" class="index">
      {% include article.html %}
    </article>
  {% endfor %}
<p class="prev-next-post-links index">
  {% if paginator.next_page %}
    <a class="prev-post" href="{{paginator.next_page_path}}" accesskey="j">>&larr; Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="prev-post" href="{{paginator.previous_page_path}}" accesskey="j">Newer &rarr;</a>
  {% endif %}
</p>


